@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;700;900&display=swap');

:root {
    --off-white--: rgba(252, 251, 254, 1);
    --nav-bar--: #6C6A6A;
    --fresh-green--: #98AE49;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

h6 {
    margin: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
}

/****************************
******  NAVIGATION BAR ******
****************************/

#nav-bar {
    position: fixed;
}

.nav-bg {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100vw;
    background-color: var(--nav-bar--);
}

.logo {
    display: flex;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

#header-img {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    top: -0px;
    background: url(chess-king-removebg-preview.png);
    transform: rotate(10.58deg);
}

.logo > h1 {
    color: var(--off-white--);
    font-weight: 900;
    font-size: 32px;
    line-height: 92%;
    text-transform: uppercase;
    width: 109px;
    height: 100px;
    margin-top: 10px;
    margin-left: 125px;
}

.shortcuts {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav-link {
    color: var(--off-white--);
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
    border-bottom: 3px solid var(--nav-bar--);
}

.btn {
    color: var(--off-white--);
    font-weight: 700;
    padding: 16px 32px;
    border: 3px solid var(--fresh-green--);
    background-color: var(--fresh-green--);
    border-radius: 50px;
}

#nav-bar > button {
    font-size: 16px;
    margin-right: 50px;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--off-white--);
    color: var(--fresh-green--);
}

.nav-link:hover {
    border-bottom: 3px solid var(--off-white--);
}

/****************************
******  MAIN - LANDING ******
****************************/

#landing {
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(7, 1fr);
    max-width: 100vw;
    overflow: hidden;
}

.landing-img {
    grid-column: 8 / -1;
    grid-row: 2 / 7;
    background-image: url("steak-removebg-preview.png");
    background-size: cover;
    background-position: bottom;
}

.title-container {
    grid-column: 3 / 8;
    grid-row: 2 / 7;
    display: flex;
    flex-direction: column;
}

.title-lead {
    display: block;
    color: var(--nav-bar--);
    font-size: 5vw;
    font-weight: 400;
    line-height: 90%;
    margin-top: 0.5em;
}

.title {
    line-height: 80%;
    font-family: Exo 2;
    font-weight: 900;
    font-size: 7.6vw;
    text-transform: uppercase;
}

.sub-title {
    font-size: max(1.2vw, 16px);
    font-weight: 300;
    line-height: 200%;
    text-transform: capitalize;
    margin-top: 3em;
}

.landing-btn-container {
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.landing-btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 3rem;
}

/* tidys up edge case monitor 
@media screen and (max-height: 800px) {
    .landing-btn {
        margin-top: calc(60px + 10vh);
    }
}*/

/*******************************
******  SECTIONS & BREAKS ******
*******************************/

section {
    height: calc(100vh - 100px);
    max-width: 100vw;
}

.sect-title > h3 {
    color: var(--off-white--);
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
}

.sect-lead {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.sect-lead > h3 {
    font-size: 4em;
    font-weight: 300;
    color: var(--fresh-green--);
}

/*******************************
******  ACCOMODATION SECT ******
*******************************/

.carousel {
    position: relative;
    height: 300px;
    width: 30%;
    margin: auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-out;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__button img {
    width: 12px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator:focus {
    outline: none;
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,.75);
}

.is-hidden {
    display: none;
}